@model PetaPoco.Page<V_FieldConfig>

@{
    ViewBag.Title = "表单字段配置";
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">
        <span>
            @ViewBag.Title
        </span>
        <a class="btn btn-default btn-sm  ft-r" href="@Url.Action("SaveFieldTemplate")">
            <span class="glyphicon   glyphicon-plus" aria-hidden="true"></span>
        </a>
    </h2>

    <div class="table-responsive">
        <table class="table table-striped  table-hover">
            <thead>
                <tr>
                    <th>所属表单</th>
                    <th>字段</th>
                    <th>名称</th>
                    <th>表名称</th>
                    <th>主键</th>
                    <th>类型</th>
                    <th>长度</th>
                    <th>必填</th>
                    <th>模板</th>
                    <th>序号</th>
                    <th>正则</th>
                    <th>默认值</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (V_FieldConfig item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.FormName
                        </td>
                        <td>
                            <a href="@Url.Action("SaveFieldTemplate", new { id = item.Id })">@item.Field</a>
                        </td>
                        <td>
                            @item.FieldLable
                        </td>
                        <td>
                            @item.TableName
                        </td>
                        <td>
                            @(item.IsPrimaryKey.Value ? "是" : "否")
                        </td>
                        <td>
                            @item.FieldType
                        </td>
                        <td>
                            @item.FieldLength
                        </td>
                        <td>
                            @(item.IsRequired.Value ? "是" : "否")
                        </td>
                        <td>
                            @item.FieldTemplateId
                        </td>
                        <td>
                            @item.Seq
                        </td>
                        <td>
                            @item.RegExpression
                        </td>
                        <td>
                            @item.DeafultValue
                        </td>
                        <td>
                            @(item.IsEnabled.Value ? "启用" : "禁用")
                        </td>
                        <td>
                            <a href="@Url.Action("DelFieldConfig",new { id=item.Id})">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation  text-center">
            @Html.Pager(Model.CurrentPage, Model.ItemsPerPage, Model.TotalItems, Model.TotalPages)
        </nav>
    </div>
</div>