@model  FormConfig
@{
    ViewBag.Title = "表单配置维护";
    IList<DBTable> TableName = ViewBag.TableName;
    Model.TableName = Model.TableName ?? "";
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">@ViewBag.Title</h2>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="@Model.Name" maxlength="50" name="Name" required placeholder="名称">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">涉及数据表</label>
            <div class="col-sm-10">
                @foreach (DBTable item in TableName)
                {
                    <label class="checkbox-inline">
                        <input name="TableName" type="checkbox" id="inlineCheckbox1" checked="@((Model.TableName??"").Contains(item.Name))" value="@item.Name">
                        @item.Name
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">表单模板</label>
            <div class="col-sm-10">
                @Html.DropDownList("FormTemplateId", null, "", new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">字段模板组</label>
            <div class="col-sm-10">
                @Html.DropDownList("FieldTemplateGroupId", null, "", new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">默认字段模板</label>
            <div class="col-sm-10">
                <select name="DeafultFieldTemplate" required="required" class="form-control">
                    <option  value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">样式</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="8" placeholder="样式" name="Style" required>@Model.Style</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                @Html.HiddenFor(p => p.Id)
                <button type="submit" class="btn btn-success">保存</button>
                &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                <a href="@Url.Action("FormConfig")" class="btn btn-info">返回</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        //字段模板组切换
        $("select[name='FieldTemplateGroupId']").bind("change", FieldTemplateGroupId());
    })
    //字段模板组切换
    function FieldTemplateGroupId() {
        var groupId = $("select[name='FieldTemplateGroupId']").val();
        var html = "<option value=\"\"></option>";
        if (groupId != "") { 
            $.ajax({
                type: "get",
                url: "@Url.Action("GetFieldTemplateByGroupId")?groupId=" + groupId,
                async: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Id == "@Model.DeafultFieldTemplate") {
                            html += "<option selected=\"selected\" value=\"" + data[i].Id + "\">" + data[i].Name + "</option>";
                        }
                        else {
                            html += "<option value=\"" + data[i].Id + "\">" + data[i].Name + "</option>";
                        }
                      
                    } 
                }
            });
        }
        $("select[name='DeafultFieldTemplate']").html(html);
    }
</script>